In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [11]:
df = pd.read_csv('RealWorldData/data_00.csv')
y = np.array(df['hr.0'])

In [12]:
# Example data: 'y' is your numpy array with heart rate data every 15 seconds
data_points_per_hour = 4 * 60
n_hours = y.shape[0] // data_points_per_hour
y_hourly = y[:n_hours * data_points_per_hour].reshape(-1, data_points_per_hour).mean(axis=1)

# Create a time series DataFrame with a time index
dates = pd.date_range(start='2023-01-01', periods=len(y_hourly), freq='H')
df = pd.DataFrame({'HeartRate': y_hourly}, index=dates)

In [13]:
from statsmodels.tsa.stattools import adfuller

result = adfuller(df['HeartRate'])
print('ADF Statistic:', result[0])
print('p-value:', result[1])

# If p-value > 0.05, you need to differentiate the series
if result[1] > 0.05:
    df['Differenced'] = df['HeartRate'].diff().dropna()

ADF Statistic: -3.7894319552949955
p-value: 0.00301730961518684

In [40]:
csv = pd.read_csv('predictions_0.csv', sep=',')

csv = csv.drop(columns=['date'])
csv

            hr
0    84.908813
1    82.629667
2    78.006537
3    77.732120
4    76.568296
..         ...
163  88.641813
164  85.329717
165  85.352469
166  88.010915
167  89.967683

[168 rows x 1 columns]

In [41]:
for i in range(12):
    csv = pd.read_csv('predictions_' + str(i) + '.csv', sep=',')
    csv = csv.drop(columns=['date'])
    csv.to_csv('predictions_' + str(i) + '.csv', index=False)